/* Style the entire page */
.entire-page {
    background-color: black;
    height: 155%;
}

/* Style the hobbies list */
.hobbies-list {
    color: cyan;
    font-family: cursive;
    
/* Style the calendar title */
}
#calendar {
    color: cyan;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
}

/* Style the items within the calendar */
#calendar-items {
    text-align: center;
}

/* Style the about-me title */
.about-me-title {
    font-size: 30px;
    color: cyan;
    font-family:inherit;

}

/* Style the hobbies title */
.my-hobbies-title {
    font-size: 30px;
    color: cyan;
    font-family:inherit;
    margin: 50px 0px auto;
}

/* Style the weekly schedule */
.my-weekly-schedule {
    font-size: 30px;
    font-family: inherit;
    padding: 50px 0px 10px;
}

/* Style the about me sentences */
#about-me {
    color: cyan;
    font-family: cursive;
    font-size: medium;
}

/* Style the links. */
.about-me-link, .hobbies-link, .images-link, .calendar-link, .lafayette-link, .bcca-link {
    color :rgb(255, 255, 255);
}

/* Style the images */
.video-games-img, .bowling-img, .four-wheel-img, .ferrari-img, .ferrari-2-img, .ford-gt-img, .cobra-img, .cobra-2-img {
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

/* Style the sentence under the 'My Hobbies' text. */
#hobbies-sentence {
    color: cyan;
    font-family: cursive;
}

.internal-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:rgba(0, 217, 255, 0.461);
    height:30px;
    align-items:center;
}

@media (width < 600px) {
    .entire-page {
        background-color: gray;
        width: auto
    }

    #calendar {
        font-size: 10px;
        text-align: left;
    }

    .my-weekly-schedule {
        font-size: 30px;
    }

    .internal-links {
        display: flex;
        flex-direction: column;
        text-align:center;
        height:80px;
    }
}